@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */
font-family: 'Montserrat', sans-serif;
}
:root{
    --box:#ff9900a7;
}
body{
    height: 100vh;
    overflow: hidden;
}